<div id="<%= dom_id payment_method %>">
  <p>
    <strong>Method:</strong>
    <%= payment_method.method_id %>
  </p>

  <p>
    <strong>Method name:</strong>
    <%= payment_method.method_name %>
  </p>

</div>
